.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.ant-menu-title-content {
  background-color: #ff8080 !important;
}
.ant-menu-title-content a {
  color: white !important;
  background-color: #ff8080 !important;
}
.dash {
  color: white !important;
}
.ant-menu-item,
.ant-menu-item-active,
.ant-menu-item-selected:active {
  background-color: #ff8080 !important;
}
.ant-menu,
.ant-menu-root,
.ant-menu-inline,
.ant-menu-dark {
  background-color: #ff8080 !important;
}
